@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Scheherazade+New:wght@400;700&display=swap');

$pcolor: #FF4500;
$scolor: #B82677;
$tcolor: #f0f0f0;
$fcolorb: #221F20;
$fcolorw: #F4F5F6;
$bodybg: #eff8fa;
$bordercolor: #302d2eb9;
$ncolor:#038eff;
/* background color #ebfafd; */


$font-Scheherazade: 'Scheherazade New', serif;
$font-roboto: 'Roboto', sans-serif;